
.profileContainer {
    height: 400px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    margin-block-end: 1rem;
}

.recentActivitiesContainer {
    height: 700px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
}