.rightAside{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feedContainer {
    height: 400px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
}

.footerContainer {
    height: 300px;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(189, 47, 47);
    position: sticky;
    top: 90px;
}