
.lineThrough {
display: flex;
justify-content: space-between;
align-items: center;

}


.lineThrough hr {
    width: 80%;
    color: #c5c4c1;
}

.postField {
    height: auto;
    border-radius: 10px;
    width: 100%;
    background-color: white;
    margin-block-end: 1rem;
    padding: 5px 10px;
}

.post {
    height: 550px;
    border-radius: 10px;
    width: 100%;
    background-color: white;
}

.posts {
    display: grid;
    gap: 1.5rem;
    margin-block-start: 1rem;
}

.inputField{
    display: flex;
    align-items: center;
}

.inputField input {
    height: 50px;
    width: 100%;
    border: 1px solid rgba(116, 117, 117, 0.733);
    border-radius: 25px;
    background-color: transparent;
    padding-inline-start: 1rem;
    font-weight: bold;
}

.inputFieldIcon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}

