
.lineThrough {
display: flex;
justify-content: space-between;
align-items: center;

}


.lineThrough hr {
    width: 80%;
    color: #c5c4c1;
}

.postField {
    height: auto;
    border-radius: 10px;
    width: 100%;
    background-color: white;
    margin-block-end: 1rem;
    padding: 5px 10px;
}

.post {
    height: auto;
    border-radius: 10px;
    width: 100%;
    background-color: white;
    /* padding: 10px; */

    & li {
        list-style: none;
        line-height: 2.0;
    }
}

.userPostDetails{
    display: flex;
    padding: 10px 10px ;
}

.post .userDetails{
    display: block;
    text-align: start;
   
}

.userPost {
    line-height: 1.5;
    
    & p:first-child{
        margin-block-end: 1rem;
    }

    & p, li {
        padding-inline: 10px;
    }
}



.posts {
    display: grid;
    gap: 1.5rem;
    margin-block-start: 1rem;
}

.inputField{
    display: flex;
    align-items: center;
}

.inputField input {
    padding: 15px;
    width: 100%;
    border: 1px solid rgba(116, 117, 117, 0.733);
    border-radius: 25px;
    background-color: transparent;
    padding-inline-start: 1rem;
    font-weight: bold;
}

.inputFieldIcon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}

