


.postField {
    height: 150px;
    border-radius: 10px;
    width: 100%;
    background-color: white;
    margin-block-end: 1.5rem;
}

.post {
    height: 550px;
    border-radius: 10px;
    width: 100%;
    background-color: white;
}

.posts {
    display: grid;
    gap: 1.5rem;
    margin-block-start: 1.5rem;
}



